
<style>
    .featured-section {
        border: 1px solid #eceaea;
        padding: 1rem;
    }
</style>



<div class="featured-section">
    <h3>Feature Posts</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, cumque?</p>


    <div class="row">
        <div class="col-lg-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</div>

<br>
<br>


<div class="featured-section">
    <h3>Latest Posts</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, cumque?</p>


    <div class="row">
        <div class="col-lg-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</div>

<br>
<br>